Options -MultiViews
RewriteEngine On

RewriteRule ^browse(\/)? browse.php [NC,L]
RewriteRule ^new(\/)? newporchfest.php [NC,L]
RewriteRule ^existing(\/)? existingporchfest.php [NC,L]
RewriteRule ^myporchfests(\/)? myporchfests.php [NC,L]
RewriteRule ^profile(\/)? myprofile.php [NC,L]
RewriteRule ^dashboard(\/)? dashboard.php [NC,L]

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^export/([^/]+)/?$ export.php?name=$1 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^view/([^/]+)/?$ viewporchfest.php?name=$1 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^bandsignup/([^/]+)/? bandsignup.php?name=$1 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^edit/([^/]+)/([^/]+)/? editband.php?name=$2 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^edit/([^/]+)/? editporchfest.php?name=$1 [NC,L]


#RewriteRule ^(.*)? index.php [NC,L]
#RewriteRule !\.(js|css|html|xml|csv)$ index.php [NC,L]
#RewriteRule ^(.*)$ index.php [NC,L]
