/*    --------------------------------------------------
  :: singleporchfest.html
  -------------------------------------------------- */

span.band::before {
  content: "\25a0";
  font-size: 1.8rem;
  transform: rotate(45deg);
  position: absolute;
  display: inline-block;
  line-height: 9rem;
}

span.band::after {
  content: "\25a0";
  font-size: 1.8rem;
  transform: rotate(45deg);
  position: absolute;
  display: inline-block;
  line-height: 9rem;
}

#bandname {
  padding-left: 5px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

#bandModal {
  text-align: center;
}

.tab-content #name{
  text-align: center;
}

#bandModal img{
  height: 70%;
  width: 70%;
}

#map img{
  height: 60%;
  width: 50%;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
}

 .nav-tabs > li, .nav-pills > li {
  float: none;
  display: inline-block;
  *display: inline; /* ie7 fix */
  zoom: 1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
  padding-top: 20px;
  text-align: center;
}

.contact {
  padding-left: 50px;
}

.nav-tabs {
    margin-bottom: 15px;
}

.tab-content {
  padding: 5px;
}


/*    --------------------------------------------------
  :: myporchfests.html & browse.html
  -------------------------------------------------- */

/* For the upcoming/past/all buttons in the Browse/My Porchfest tables. */
.btn-group {
  position: relative;
  z-index: 10;
  padding-top: 0;
}

table {
  
}

tr:hover {
  background-color: #f5f5f5;
}

th {
  background-color: #eaecef;
}



/*    --------------------------------------------------
  :: Login
  -------------------------------------------------- */

.loginButton:hover {
  text-decoration: none;
}

.loginButton:focus {
  text-decoration: none;
}

.login {
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


/*    --------------------------------------------------
  :: Navbar
  -------------------------------------------------- */
/*.navbar {
  color: red;
  background-color: red;
  border: blue;
}

#navbrand {
  color: white;
}

.navbar-toggle {
  color: blue;
  background-color: blue;
}

.navbar-toggle .icon-bar {
  color: red;
  background-color: red;
}*/


/*    --------------------------------------------------
  :: Carousel
  -------------------------------------------------- */

.carousel-inner > .item > img {
    margin: 0 auto;
}



/*    --------------------------------------------------
  :: General
  -------------------------------------------------- */
body {
  font-family: 'Open Sans', sans-serif;
  color: #353535;
  padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
.content h2 {
  text-align: center;
}
.content .content-footer p {
  color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
.content .content-footer p a {
  color: inherit;
  font-weight: bold;
}

/* Customize the text color and shadow color and to optimize text legibility. */

.tagline {
    text-shadow: 0 0 10px #000;
    color: #fff;
}

.img-center {
    margin: 0 auto;
}

footer {
    margin: 50px 0;
}

/*  --------------------------------------------------
  :: Table Filter
  -------------------------------------------------- */
.panel {
  border: 1px solid #ddd;
  background-color: #fcfcfc;
}
.panel .btn-group {
  margin: 15px 0 15px;
}
.panel .btn-group .btn {
  transition: background-color .3s ease;
}


/* Probably don't need this, but leaving for now just in case. */

/*.table-filter {
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
  cursor: pointer;
  background-color: #eee;
}
.table-filter tbody tr td {
  padding: 10px;
  vertical-align: middle;
  border-top-color: #eee;
}
.table-filter tbody tr.selected td {
  background-color: #eee;
}
.table-filter tr td:first-child {
  width: 38px;
}
.table-filter tr td:nth-child(2) {
  width: 35px;
}
.ckbox {
  position: relative;
}
.ckbox input[type="checkbox"] {
  opacity: 0;
}
.ckbox label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ckbox label:before {
  content: '';
  top: 1px;
  left: 0;
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  border-radius: 2px;
  border: 1px solid #bbb;
  background-color: #fff;
}
.ckbox input[type="checkbox"]:checked + label:before {
  border-color: #2BBCDE;
  background-color: #2BBCDE;
}
.ckbox input[type="checkbox"]:checked + label:after {
  top: 3px;
  left: 3.5px;
  content: '\e013';
  color: #fff;
  font-size: 11px;
  font-family: 'Glyphicons Halflings';
  position: absolute;
}
.table-filter .star {
  color: #ccc;
  text-align: center;
  display: block;
}
.table-filter .star.star-checked {
  color: #F0AD4E;
}
.table-filter .star:hover {
  color: #ccc;
}
.table-filter .star.star-checked:hover {
  color: #F0AD4E;
}
.table-filter .media-photo {
  width: 35px;
}
.table-filter .media-meta {
  font-size: 11px;
  color: #999;
}
.table-filter .media .title {
  color: #2BBCDE;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  margin: 0;
}
.table-filter .media .title span {
  font-size: .8em;
  margin-right: 20px;
}
.table-filter .media .title span.upcoming {
  color: #5cb85c;
}
.table-filter .media .title span.past {
  color: #f0ad4e;
}
.table-filter .media .title span.all {
  color: #d9534f;
}
.table-filter .media .summary {
  font-size: 14px;
}