Options -MultiViews
RewriteEngine On
RewriteBase /cs5150/html/

RewriteRule ^browse(\/)? browse.php [NC,L]
RewriteRule ^existing(\/)? existingporchfest.php [NC,L]
RewriteRule ^myporchfests(\/)? myporchfests.php [NC,L]
RewriteRule ^profile(\/)? myprofile.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^singleporchfest/([^/]+)/?$ singleporchfest.php?name=$1 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^bandsignup/([^/]+)/? bandsignup.php?name=$1 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^editporchfest/([^/]+)/? editporchfest.php?name=$1 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^editband/([^/]+)/? editband.php?name=$1 [NC,L]

#RewriteRule ^(.*)? index.php [NC,L]